.container{
    margin: auto;
    justify-content: center;
    text-align: center;
    border-style: solid;
}

#inputs_area{
    margin: auto;
    width: 80%;
    height: 240px;
}

#text_input_area{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    padding: 6px;
}

#text_input_area:focus{
    outline: none;
}

#error_msg{
    margin: 20px auto 0 auto;
    color: red;
    overflow-wrap: break-word;
}

#tag_header{
    font-size: 18pt;
    text-align: left;
    margin: 0 0 5px 10%;
}

#tags_input_area{
    padding: 6px;
    width: 80%;
    outline: 1px solid #ccc;
}

.selectBtns{
    padding-bottom: 10px;
    justify-content: center;
}

.action_btn{
    margin: 20px;
    display: inline-block;
}
