#container {
    background-color: #efefef;
    width: 100% !important;
    padding: 25px;
}

.tagFilterActionDiv {
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

.actionButton {
    margin-right: 10px !important;
}

.tagsWrapperDiv {
    margin-top: 25px;
    display: flex;
}

.filterButton {
    margin: 5px !important;
}

.inputWrapper {
    display: flex;
    width: 100%;
}

.filterInput {
    flex: 1 1 auto;
}