#container {
    width: 100% !important;
    padding: 25px;
}

.tagFilterActionDiv {
    width: 100%;
    text-align: center;
    margin-top: 2%;
}

.actionButton {
    margin-right: 0.75% !important;
    font-size: 1.5rem;
}

.tagsWrapperDiv {
    margin-top: 1%;
}

.filterButton {
    margin: 0.65% !important;
    max-width: 100%;
    width: fit-content;
    text-align: left;
    border: 1.5px solid black;
    padding: 0.65%;
    border-radius: 2em;
    background-color: rgb(236, 233, 233);

    overflow-wrap: break-word;
}

.filterButton:hover{
    background-color: #afc5d3;
    font-weight: bold;
}

.filterButton:focus{
    outline: none;
    box-shadow: none;
    width: fit-content;
}

.filterButtonSelected {
    margin: 0.65% !important;
    width: fit-content;
    max-width: 100%;
    text-align: left;
    border: 1.5px solid rgb(0, 0, 0);
    padding: 0.65%;
    border-radius: 2em;
    background-color: #88c2e6;
    font-weight: bold;

    overflow-wrap: break-word;

    
}

.filterButtonSelected:focus{
    outline: none;
    box-shadow: none;
}


.inputWrapper {
    display: flex;
    width: 100%;
}

.filterInput {
    flex: 1 1 auto;
}

.error_msg {
    color: red;
}