#container{
    width: 100%;
    margin:auto;
    border-style: solid;
}

.profile_info{
    cursor: pointer;
    width: fit-content;
}

.action_btn{
    display: block;
    cursor: pointer;
    opacity: 0.5;
}

.action_btn_selected{
    opacity: 1;
}


.action_btn p{
    display: inline-block;
}

.no_text_select{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.action_btn:hover{
    opacity: 1;
}


#content {
    padding-left: 2.75rem;
    padding-right: 3.0rem;
    margin-top: 0.5rem;
}

#content img{
    display: block;
    margin: auto;
    width: 90%;
    height: auto;
}

#content p {
    margin: auto;
    width: 90%;
}

.no_overflow{
    max-height: 300px;
    overflow: hidden;
}

#content p{
    word-wrap: break-word;
}

#show_more_btn{
    padding: 10px;
    margin-left: 5%;
}

#show_more_btn:focus{
    outline: none;
    box-shadow: none;
}

#timer{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.5rem;
    text-align: right;
    padding: 10px;
}

.bottom_options{
    padding: 10px;
}

#tag_container{
    margin: 0 3% 1% 3%;
}

/* Set boundries for the username depending on the screen size */

@media (min-width: 0px) {
    #username-display{
        max-width: 100px;
    }
}

@media (min-width: 640px) {
    #username-display{
        max-width: 300px;
    }
}

@media (min-width: 768px) {
    #username-display{
        max-width: 300px;
    }
}
